main{
    display: flex;
    justify-content: center;
}
#cards-container{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
    width: 70%;
    justify-items: center;
}

#mainImage{
    img{
        width: 100%;
    }
}

.infoCar{
    display: flex;
    h5{
        margin-left: auto;
        margin-right: 2%;
    }
}
section{
    .infoCar{
        h5{
            margin: 0 2% 0 auto;
        }
        h4{
            margin:0;
        }
    }
}

.extraInfo{
    justify-content: flex-end;
    p{
        margin: 2%;
    }
}

.orangeColor{
    background-color: #f53936;
    color: whitesmoke;
}

#cardImage{
    img{
        width: 20%;
    }
}
.tinyCard{
    width: 95%;
    height: 95%;
}
#thirdCard{
    grid-column: 2;
}

@media (max-width: 800px) {
    #cards-container{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    #thirdCard{
        grid-column: auto;
    }
    .orangeColor{
        background-color: white;
        color: black;
    }
    .infoCar{
        h5{
            margin: 0 2% 0 auto;
        }
        h4{
            margin:0;
        }
    }
}
