body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header{
    display:flex;
    flex-direction: row;
    align-items: center;
}
nav{
    margin-left: auto;
}
footer{
    margin-top: auto;
}